<!DOCTYPE html>
<html lang="en" data-lt-installed="true">
<head>
<div class="container">
<div class="about"> </div>
<h2 class="about_title">
"About"
<div class="about_description"> </div>
"This project is a part of 🇺🇦PRJCTR — Creative&Tech Online Institute course. But we always appreciate to get your feedback and add new features to DAILY-DO. You can open PRJCTR Course page bellow, or leave comment at Produc Hunt page:"
</div>

лого

<div class="adout_animation">
<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_xtajsmrq.json" background= "transparent" speed= "1.5" loop autoplay>